<div>
    <FluentNavMenu Collapsible="false" Title="Main menu">
        <FluentNavMenuLink Icon="@(new Icons.Regular.Size20.Home())" Href="/">
            <h2>Home</h2>
        </FluentNavMenuLink>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>Task Management</h2>
            <FluentNavMenuLink Href="/UserTasks" Icon="@(new Icons.Regular.Size20.Info())" Text="My Tasks" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>Permission Management</h2>
            <FluentNavMenuLink Href="/RelationTuples" Icon="@(new Icons.Regular.Size20.Info())" Text="Relationships" />
        </FluentNavMenuGroup>
    </FluentNavMenu>
</div>